/*Changing the highlight color of the selected date*/
.react-datepicker__day--selected {
    background-color: #343d46 ;
    color: white;
}

.react-datepicker__day--selected:hover {
    background-color: #4f5b66 ; /* Custom hover color */
}


