.date-container{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px; 
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 12px; 
}


.add-food {
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #00c691;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white; 
    padding: 15px; 
    font-weight: 900; 
    height: 40px;
    margin-top: 7px; 
}
.add-food:hover{
    background: #00a67e;
}

.foodLogContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.7%; 
}

.mealLog {
    margin-right: 0.4%;
    width: 100%; 
}

.progressBarContainer {
    margin-left: 0.3%;
    width: 70%; 
}

@media (max-width: 768px) {
    .foodLogContainer {
        padding: 2%;
        padding-top: 1%; 
        padding-bottom: 1%;
        align-items: center; 
        flex-direction: column;


    }
    .mealLog {
        width: 100%;
        margin: 0.5%; 
        margin-bottom: 0.75%;
    }
    .progressBarContainer{
        margin-left: 0; 
        width: 100%;
        margin: 0.5%; 
        margin-top: 0.75%; 
    }


}
