nav {
    background-color: #343d46; 
    font-weight: bold; 
    height: fit-content;
    width: auto; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between; 
    overflow-x: hidden;

}


.nav-links{
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    margin: 0; 
    background-color: #343d46;
    height: fit-content; 
    align-items: center;
}

.left {
    display: flex; 
}

nav .home {
    overflow: hidden;
    font-size: clamp(15px, 4vw, 20px);
    color: white;
    text-decoration: none;
    display: flex;
    padding: 2vh; 
    margin-left: 1vh; 
    background-color: #343d46;
    border-radius: 4px;
}

/* style for the calculator, food log, and weight log links*/
nav ul {
    list-style: none; 
    display: flex;
    padding: 0;
    margin-top: 10px; 
    margin-bottom: 10px;  
    align-items: center;
    text-decoration: line; 
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1rem;
    margin-left: 1vh;
    margin-top: 0;
    margin-right: 1vh;
    background-color: #343d46;
    border-radius: 3px;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

nav ul li a:hover::after,
nav ul li a.active::after {
    
    width: 100%;
}
