

/*removes the increment and decrement arrows of the weight input box*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/*for the weight entry div*/
.weight{ 
    display: flex;
    align-items: center;
    gap: 7px; 
    width: auto;
    margin-left: 10px; 
    justify-content: end; 
    margin-bottom: 0; 
}

.weight .weight-input {
    display: flex;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    margin: 0; 
    padding: 0; 

    font-size: 16px; 
}


.weight .save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343d46;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px;
    font-weight: 900;
    height: 40px;
}

.weight .save-button:hover {
    background: #4f5b66;
}

.weight-entry-table h1{
    width: 100%;
    margin-top: 0px; 
    margin-left: 10px; 
    margin-bottom: 3px; 
}

.weight-entry-table .actionButton{
    padding: 4px 12px; 
    font-size: 10px; 
    text-transform: uppercase; 
    border:none; 
    background: white; 
    color: black; 
    cursor: pointer; 
    margin-bottom: 0px; 
    border-radius: 10px; 
}


.actionButtons {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    max-height: 50%; 
}

.leftContainer {
    width: 85%; 
}

.weight-edit-input {
    width: 10%;
    height: 30px;
    font-size: 20px; 
    text-align: center;

}

.edit-unit {
    margin-left: 5px; 
    font-size: 20px; 
}

.weight-entry-header {
    display: flex;
    gap: 0px;
}


.weightChartContainer {
    width: 100%;
    
    height: auto;
    margin-left: 0.7%; 
}

.weight-entry-table {
    margin-top: 2%;
}
.weightLogContainer {
    width: 85%;
    height: fit-content;
    display: flex; 
    padding: 1.5vh; 

}

@media (max-width: 1000px) {
    .weightLogContainer {
            width: 95%; 
            padding: 1%;
            padding-top: 1%;
            padding-bottom: 1%;
            flex-direction: column; 
            overflow-x: hidden;
        }
        .leftContainer {
            width: 100%;
        }

    .dateContainer{
        width: auto; 
        margin-bottom: 0.75%;


    }

    .weightChartContainer {
        width: auto; 
        margin-left: 0; 
        height: 65vw; 
        margin-top: 0.75%;
    }

    .weight-entry-table {
        margin-top: 2%;
        margin-bottom: 1%;
    }
}