

.weight-entry-table h1 {
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.weight-entry-table .actionButton {
    padding: 8px 24px;
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
    border-radius: 10px;
}

.weight-entry-table .actionButton:hover {
    background: rgb(3, 152, 112);
}

.actionButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-height: 50%;
}

.weight-edit-input {
    width: 10%;
    height: 30px;
    font-size: 20px;
    text-align: center;

}

.edit-unit {
    margin-left: 5px;
    font-size: 20px;
}

.weight-entry-header {
    display: flex;
    gap: 0px;
}


